_site/
.bundle/
.DS_Store
.idea/
.vscode/
.jekyll-cache/
.jekyll-metadata
.ruby-version
.sass-cache/
.tweet-cache/
.venv/
node_modules/

vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

assets/libs/
assets/rendercv/rendercv_output/*.typ
